@page
@model AboutMeModel
@{
    ViewData["Title"] = "About Me";
}
<h1>@ViewData["Title"]</h1>

<p>
    Hello everyone, my name is Enzo Mendoza and I am a senior at FIU majoring in Computer Science.
    I was first exposed to computer science in high school, taking an AP Computer Science course where I learned Java programming.
    It was during this class where I decided to have a career in Computer Science. I am currently taking my final two courses to graduate in Fall 2019.
    My areas of interest include AI technology and software develop
</p>
<p>
    I was born from two Bolivian parents, and I am very proud of my heritage, visiting Bolivia almost every year.
    In my free time I like to play video games like FIFA and Call of Duty, I also enjoy spending time with friends
    and playing with my dog. I currently work part-time in retail at The Miami Heat Store in Dolphin Mall, where I spend almost 30 hours a week working.
</p>
<div>
    <img src= https://worldsportlogos.com/wp-content/uploads/2018/03/Miami-Heat-logo.png style="position:absolute; top:325px; left:150px" width="350" height="250" />
</div>
<div>
    <img src=https://img.pngio.com/flag-of-boliviapng-bolivia-flag-png-2000_1333.png style="position:absolute; top:325px; left:500px;" width="250" height="250" />
</div>
<div>
    <img src=https://instagram.fmia1-1.fna.fbcdn.net/vp/22ddda7af6935dd6e7cf56204d513d42/5DF43DAC/t51.2885-15/e35/s1080x1080/67295626_111993966647980_4088368074958374825_n.jpg?_nc_ht=instagram.fmia1-1.fna.fbcdn.net style="position:absolute; top:325px; left:850px;" width="250" height="250" />
</div>
