@page
@model AboutMeModel
@{
    ViewData["Title"] = "About Me";
}
<h1>@ViewData["Title"]</h1>

<p>My name is Enzo, I am a senior at FIU studying computer science. I currently
work at The Miami Heat Store and hope to secure a internship and or job this semester.</p>
