@page
@model IndexModel
@{
    ViewData["Title"] = "Enzo's Website'";
}

<style type="text/css">
    .box {
        width: 250px;
        padding-top: 5px;
        border-style: solid;
        border-color: #336699;
        border-width: 1px;
        padding-left: 3px;
        padding-bottom: 10px;
    }
</style>

<div class="text-center">
    <h1 class="display-4" align ="left">Enzo Mendoza</h1>
    <img src="https://instagram.fmia1-1.fna.fbcdn.net/vp/226132ec93abde1dc02ce778f4fc1c37/5DFA8C38/t51.2885-19/s320x320/18298755_822117831269126_2495435978194288640_a.jpg?_nc_ht=instagram.fmia1-1.fna.fbcdn.net" align ="left" width="400" height="400" />
</div>

<div> 
     <h4 style="position:absolute; top:100px; left:565px">Skills and Abilities</h4>
     <ul style="position:absolute; top:140px; left:550px; list-style-type:square">
         <li>Java</li>
         <li>C</li>
         <li>Python</li>
         <li>SQL</li>
         <li>HTML, Javascript</li>
     </ul>
</div>

<div>
    <h4 style="position:absolute; top:100px; left:950px">Projects</h4>
    <ul style="position:absolute; top:140px; left:935px; list-style-type:square">
        <li>
            <a href= "https://github.com/esocial-fiu/frontend.git">eSocial frontend</a>
        </li>
        <li>
            <a href= "https://github.com/EnzoMendoza/EligibilityWebsite.git">This website</a>
        </li>
    </ul>

</div>

<div>
    <h4 style="position:absolute; top:325px; left:565px">Availability</h4>
    <ul style="position:absolute; top:365px; left:550px; list-style-type:square">
        <li>Monday: 4:45-8:00PM</li>
        <li>Tuesday: 4:45-8:00PM</li> 
        <li>Wednesday: 4:00-8:00PM</li>
        <li>Thursday: 10:30-3:00PM</li>
        <li>Friday: 10:30 - 3:30PM</li>
        <li>Saturday: Open</li>
        <li>Sunday: Open</li>
    </ul>
</div>

<div>
    <h4 style="position: absolute; top: 325px; left: 950px">Contact Information</h4>
    <ul style="position:absolute; top:365px; left:935px; list-style-type:square">
        <li>
           <a href="mailto:emend069@fiu.edu"> Email </a> : emend069@fiu.edu
        </li>
        <li>
            Phone: 305-333-4333
        </li>
    </ul>
</div>
